/* .testimonial{float: left;width: 100%; }
.testimonial{font-family: Oswald Regular;}
.testimonial h3{text-align: center;}
.user_view{float: left;width: 100%;padding: 30px;}
.user_view i{float: left;}
.user_deta{display: inline-flex; width: 100%;}
.user_txt{display: block; padding: 10px;}
.user_img img{width: 100px;height: 100px;} */
.nav_div{float: left; width: 100%; background-color: tomato;}
.nav_bar{float: left;width: 100%; background-color: teal;}
.navi{float: left; width: 100%; background-color: antiquewhite;}
.menu_div{background-color: mediumvioletred;display: inline-flex;}
.menu_div ul{ margin: 0,auto; }
.menu_div ul li{display: inline-block;text-decoration: none;color: wheat; padding: 10px;}
.menu_div ul li i{display: none;}
.menu_div ul li a{ color:red; text-transform: uppercase;}
.dropdown{position: relative;  display: none;}
.dropdown ul {position: absolute; background-color: orange; padding: 0px; width: 200px;} 
.menu_div ul li.active.dropdown{ }
.menu_div ul li:hover>.dropdown {display: block;}

.menu_div ul li:hover>.dropdown ul { border-bottom: 1px dotted whitesmoke;   background-color:white;text-align: left;}
#icon{color: white;font-size: 30px; cursor: pointer; display: none; line-height: 70px; float: right;}
.search_div{background-color: yellow;}
.cart_div{background-color: royalblue;}
@media(max-width:768px){
     #icon{display: block; }
     .menu_div ul{width: 100%; position: fixed; height: 100hv; top: 80px; right: -100%;  background-color: yellow;transition: all.5s;}
     .menu_div ul li{display:block;}
     .nav_bar ul.show{right: 0;}
     .menu_div ul li i{display: inline;float: right;}
     .menu_div ul li:hover>.dropdown ul{position: relative; top:0;}
    }
    
